

  <div>
    <h3>Budgets Summary</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Total</td>
          <td>Free</td>
          <td>Budget</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @budgets.all.each do |budget| %>
        <tr>
          <!-- NAME -->
          <td><%= link_to budget.description, budget_path(budget, date: @date) %></td>
          <!-- Total -->
          <% if budget.sum_for_month(@date).zero? %>
            <td> <%= number_to_currency budget.sum_for_month(@date) %> </td>
          <% else %>
            <td class="<%= budget.excedded_for_month(@date) ? "danger" : "" %>"> <strong><%= number_to_currency budget.sum_for_month(@date) %></strong> </td>
          <% end -%>
          <!-- FREE -->
          <% if budget.excedded_for_month(@date) %>
            <td class="danger">
              <strong><%= number_to_currency(budget.amount - budget.sum_for_month(@date)) %></strong>
            </td>
          <% else %>
            <td><%= number_to_currency(budget.amount - budget.sum_for_month(@date)) %></td>
          <% end -%>
          <!-- BUDGET -->
          <td><%= number_to_currency budget.amount %></td>
          <!-- PERCENTAGE -->
          <td class="<%= budget.excedded_for_month(@date) ? "danger" : "" %>">
            %<%= "%.2f" % budget.month_percentage(@date) %>
          </td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot class="secondary-text">
        <td>Total</td>
        <td><%= number_to_currency Entry.total_for_month(@date) %></td>
        <td><%= number_to_currency(Budget.sum(:amount) - Entry.total_for_month(@date)) %></td>
        <td><%= number_to_currency Budget.sum(:amount) %></td>
        <td>%0.00</td>
      </tfoot>
    </table>
  </div>

  <hr>  