  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Budgets</th>
        <th>Type</th>
        <th>Amount</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.description.html_safe %></td>
          <td><%= entry.date.strftime("%d/%b/%y") %></td>
          <td><%= entry.budgets.map {|b| b.description}.join(", ") %></td>
          <td><%= entry.entry_type %></td>
          <td> <strong><%= number_to_currency entry.amount %></strong> </td>
          <td><%= link_to 'Show', entry %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
