<p id="notice"><%= notice %></p>

<h3>Budget: <%= @budget.description %> <small>Amount: <%= number_to_currency @budget.amount %> - Total: <%= number_to_currency @entries.sum("entries.amount") %></small></h3>

<%= render "entries/table" %>
